@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0F172A;
  --primary: #0F172A;
  --accent: #CBD5E1;
  --secondary: #334155;
  --muted: #F8FAFC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #CBD5E1;
    --primary: #CBD5E1;
    --accent: #475569;
    --secondary: #64748B;
    --muted: #1E293B;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
